@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

$headings-font-family: "Aladin", serif;
$headings-font-weight: 1100;
$headings-color: white;

$font-family-base: "Aladin", serif;

.App {
  text-align: center;
  font-size: large;

  background-image: url("https://wallpapercave.com/wp/wp2343941.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  padding-top: 10px;
  padding-bottom: 100px;
}

.singlenav {
  color: white;
}

.singlenav:hover {
  color: white;
}

.makenoise {
  color: white;
  margin-right: 50px;
}

.makenoise:hover {
  color: red;
}

.stepSequencer {
  border: 15px solid black;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
}

.indicator {
  text-align: right;
  margin-right: 33%;
}

.button1 {
  color: black !important;
  text-transform: lowercase;
  background: linear-gradient(
    115deg,
    rgba(149, 122, 87, 1) 8%,
    rgba(204, 3, 154, 0.8790703781512605) 32%,
    rgba(0, 112, 159, 1) 96%
  );
  padding: 5px;
  border: 4px solid #7a04eb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
  margin-left: 10px;
}

.button1:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.button2 {
  color: black !important;
  text-transform: lowercase;
  background: linear-gradient(
    45deg,
    rgba(149, 122, 87, 1) 8%,
    rgba(204, 3, 154, 0.8790703781512605) 32%,
    rgba(0, 112, 159, 1) 96%
  );
  padding: 5px;
  border: 4px solid #7a04eb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
  margin-left: 10px;
}

.button2:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px;
  width: 15%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: linear-gradient(
    45deg,
    rgba(149, 122, 87, 1) 8%,
    rgba(204, 3, 154, 0.8790703781512605) 32%,
    rgba(0, 112, 159, 1) 96%
  );

  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(
    45deg,
    rgba(149, 122, 87, 1) 8%,
    rgba(204, 3, 154, 0.8790703781512605) 32%,
    rgba(0, 112, 159, 1) 96%
  );
}

input[type="range"]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ac51b5;
}

input[type="checkbox"] {
  cursor: pointer;
  opacity: 1;
  margin-left: 10px;
}

.customCheckbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.customCheckbox > span {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.customCheckbox > input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #34495e;
  outline: none;
  transition-duration: 0.3s;
  background-color: #9f34e6;
  cursor: pointer;
}

.customCheckbox > input:checked {
  border: 1px solid #41b883;

  background-color: #00ff4c;
}

.customCheckbox > input:checked + span::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: #41b883;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}

.customCheckbox > input:active {
  border: 2px solid #34495e;
}
