@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

$headings-font-family: "Aladin", serif;
$headings-font-weight: 1100;
$headings-color: white;

$font-family-base: "Aladin", serif;

.App {
  text-align: center;
  font-size: large;

  background-image: url("https://wallpapercave.com/wp/wp2343941.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  padding-top: 10px;
  padding-bottom: 100px;
}

.singlenav {
  color: red;
}

.singlenav:hover {
  color: white;
}

.makenoise {
  color: white;
  margin-right: 50px;
}

.makenoise:hover {
  color: red;
}

.indicator {
  text-align: right;
  margin-right: 33%;
}

.button1 {
  color: black !important;
  text-transform: lowercase;
  background: linear-gradient(
    115deg,
    rgba(149, 122, 87, 1) 8%,
    rgba(204, 3, 154, 0.8790703781512605) 32%,
    rgba(0, 112, 159, 1) 96%
  );
  padding: 5px;
  border: 4px solid #7a04eb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
  margin-left: 10px;
}

.button1:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.button2 {
  color: black !important;
  text-transform: lowercase;
  background: linear-gradient(
    45deg,
    rgba(149, 122, 87, 1) 8%,
    rgba(204, 3, 154, 0.8790703781512605) 32%,
    rgba(0, 112, 159, 1) 96%
  );
  padding: 5px;
  border: 4px solid #7a04eb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
  margin-left: 10px;
}

.button2:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.stepSequencer {
  border: 15px solid black;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;

  padding: 10px;
}

input[type="checkbox"] {
  margin-left: 14px;
  transform: scale(2);
  cursor: pointer;
  opacity: 1;
}
